nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;

  display: flex;
  justify-content: space-between;
  position: fixed;
}

.tweeter-title{
  font-size: 50px;
  padding-bottom: 0em;

  font-family: 'Bungee', cursive;
  display: flex;
  align-items: flex-end;
}
nav .tweeter-description {
  color: #FFFFFF;
  font-size: 30px;
}

nav .nav-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.arrow-red-down {
  color: red;
  background-color: #4056A1;
  border: none;
  padding-bottom: 10px;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  nav {
    background-color: #68a9c7;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  }
  .arrow-red-down{
    background-color: #68a9c7;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  }
}